@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;900&display=swap');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./resources/font/MaterialIcons-Regular.ttf'); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
}

:root{
    --primary-bg: #FB9300;
    --primary-bg-dark: #343F56;
    --light-clr: #F5E6CA;
    --danger-clr: #ff5050;
    --disabled-clr: rgb(94, 94, 94);
}

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--primary-bg);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header{
    background: #F54748;
    padding: 1.6em 0;
}

header h1{
    color: #f3f1ec;
    text-align: center;
}

.container{
    max-width: 75rem;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 1.5em;
}


form#todoForm{
    display: flex;
    justify-content: center;
    padding: 3em 0;
}

input{
    outline: 0;
    border: 0;
}

input#insert-todo{
    font-size: 1.6rem;
    padding: 0.4em 0.8em;
}

section.form-el{
    flex: 0 1 25%;
    justify-content: flex-end;
    min-height: 4rem;
}

section.form-el:first-child{
    margin-right: 1em;
}

section.form-el:last-child{
    width: 14rem;
    margin-left: 1em;
}

section.form-el,
section.form-el-right{
    display: flex;
}

.select-field{
    position: relative;
    width: 100%;
}

select#show-todos{
    display: flex;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    padding: 0 1em;
}

.select-field::after{
    content: '\e5c5';
    font-family: 'Material Icons';
    display: block;
    position: absolute;
    pointer-events: none;
    color: rgb(255, 196, 0);
    font-size: 2rem;
    line-height: 2;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.5em;
    background: #343F56;
}

.select-field:hover::after{
    content: '\e5c7';
    background: rgba(52, 63, 86, .8);
    transition: 300ms;
}

button, select{
    margin: 0;
    outline: 0;
    border: 0;
}

button{
    cursor: pointer;
    padding: 0 1.32em;
    background: var(--primary-bg-dark);
}

button > span{
    pointer-events: none;
    color: var(--light-clr);
    font-size: 1.8rem !important;
    max-width: 80%;
}

.material-icons-outlined{
    display: inline !important;
    line-height: 1.3 !important;
}

button#add-todo-btn > span{
    color: #5ae65a;
}

button.delete-todo-btn > span {
    color: var(--danger-clr);
}

div.todo{
    display: flex;
    transition: all 300ms ease;
}

div.todo.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

ul.new-todo{
    flex: 1;
    margin: 0.2em 0;
}

li.todo-item.is-completed{
opacity: 0.5;
}

li.todo-item.is-completed span.todo-title{
text-decoration: line-through;
}

li.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-clr);
    width: 50%;    
    height: 100%;
    min-height: 4rem;
    margin: 0 auto;
}

li.todo-item .delete-todo-btn{
    height: 100%;
}

li.todo-item .todo-title{
    width: 100%;
    height: 55%;
    font-size: 1.8rem;
    line-height: 1.3;
    text-align: center;
    overflow: hidden;
    margin: 0 1em;
}


div.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.toggle label{
    cursor: pointer;
    width: 4rem;
    height: 100%;
    position: relative;
}

div.toggle label span {
    display: inline-block;
    text-indent: -99999px;
}

input[type="checkbox"] + label::after{
    font-family: 'Material Icons';
    content: '\e92d';
    position: absolute;
    color: #15a715;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked ~ label::after {
    font-family: 'Material Icons';
    content: '\f236';
    position: absolute;
    color: var(--disabled-clr);
    font-size: 2rem;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 300ms;
}

input[type="checkbox"].check-todo-btn{
    appearance: none;
    -webkit-appearance: none;
    visibility: hidden;
}


@media screen and (max-width: 980px){
    form#todoForm{
        flex-direction: column;
        justify-content: center;
    }

    input#insert-todo{
        width: 100%;
    }

    section.form-el{
        flex: 1;
        margin: 0.4em 0;
    }

    section.form-el:first-child{
        margin-right: 0;
    }

    section.form-el:last-child{
        width: auto;
        margin-left: 0;
    }

    li.todo-item{
        width: auto;
    }

    span.todo-title{
        padding: 0 0.2em;
    }
}